@page
@using ContosoCrafts.WebSite.Components
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div>
    <a class="nav-link text-dark" asp-area="Pages" asp-page="/Product/Read">Products</a>
</div>

@(await Html.RenderComponentAsync<ProductIndex>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.service.js"></script>